.node{
	position:absolute;
	border: 1px solid black;
}
#path{
	background-color:lightblue;
}
#start{
	background-color:green;
}
#end{
	background-color:red;
}
#none{
	background-color:white;
}
